*{
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: 15%;
    background-color: grey;
    color: white;
    display: flex;
}

body{
    height: 100vh;
}

span{
    margin: auto;
    color: white;
}

nav{
    display: flex;
    background-color: rgb(255, 0, 157);
    width: 100%;
    height: 10%;
}
.father{
    display: flex;
    height: 60%;
}
.father aside{
    display: flex;
    width: 50%;
    background-color: #45D79D;
}

.father section{
    width: 50%;
    background-color: #5cd44c;
    display: flex;
    flex-direction: column; 
}

section article{
    width: 80%;
    background-color: #3374FF;
    margin: auto;
    height: 100px;
    display: flex;
}
footer{
    display: flex;
    background-color: #F33F00;
    height: 15%;   
}